{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        <input type="email" name="email" placeholder="Email" class="form-control mb-2" required>
        <input type="password" name="password" placeholder="Password" class="form-control mb-2" required>
        <button class="btn btn-success" type="submit">Login</button>
    </form>
    <p class="mt-2">Don’t have an account? <a href="{% url 'signup' %}">Sign Up</a></p>
</div>
{% endblock %}
